RewriteEngine On

# HTTP에서 HTTPS로 리다이렉트 설정
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# 루트 URL이 HTTPS인 경우 /home으로 리다이렉트
RewriteCond %{HTTPS} on
RewriteRule ^$ /home [R=301,L]

# 마지막 /가 있는 경우 제거하는 규칙
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# .php 파일을 생략할 수 있도록 리라이트 설정
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([a-zA-Z0-9_/]+)$ $1.php [L,QSA]

# 존재하지 않는 라우트는 에러 페이지로 리다이렉트
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /error/index.php [L]

# category로 들어오는 연결 blog로 리다이렉트
RewriteRule ^category/(.*)$ /blog/$1 [R=301,L]

# 각 오류 발생시 error 라우트 연결
ErrorDocument 404 /error/index.php
ErrorDocument 500 /error/index.php

# 특정 파일에 대한 접근 차단
<Files "component_connect.php">
    Order allow,deny
    Deny from all
</Files>