main {

    // 경로 : 홈 페이지
    &#home {
        .container-inner {
            padding: 0;
            gap: 3.2rem;
            // max-width: none;

            > article {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                width: 100%;

                // 공통
                > section {
                    width: 100%;

                    &.title-container {
                        display: flex;
                        justify-content: space-between;

                        > h5 {
                            font-size: 2.8rem;
                        }

                        > a {
                            border: 1px solid var(--color-gray-50);
                            border-radius: 100px;
                            padding: 0.4rem 0.8rem;
                            font-size: 1.2rem;
                        }
                    }

                    &.contents {
                        display: grid;
                        grid-column-gap: 4.0rem;

                        > .item {
                            position: relative;
                            display: flex;
                            gap: 0.8rem;
                            flex: 1;
                            overflow: hidden;

                            > img {
                                width: 100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                aspect-ratio: 1/.8;
                                border-radius: 1.6rem;
                            }

                            > .desc {
                                position: relative;
                                // padding: 1.2rem;
                                display: flex;
                                flex-direction: column;
                                gap: 0.8rem;
                                z-index: 1;
                                
                                > .date {
                                    font-size: 1.2rem;
                                }

                                > .title {
                                    font-size: 2.4rem;
                                }

                                > .preview {
                                    overflow: hidden;
                                    color: rgba(0, 0, 0, 0.5);
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                }
                            }

                            &.horizontal {
                                flex-direction: row;
                            }

                            &.vertical {
                                flex-direction: column;
                            }

                            &.empty {
                                background: var(--color-gray-100);
                                color: var(--color-gray-500);
                                padding: 1.6rem;
                                border-radius: 1.2rem;
                                text-align: center;
                                justify-content: center;
                            }

                            &::after {
                                content: "";
                                height: 0.4rem;
                                width: 1.8rem;
                                position: absolute;
                                top: 2rem;
                                right: 1.2rem;
                                rotate: -45deg;
                                background: var(--color-gray-50);
                                border-radius: 100px;
                                mix-blend-mode: difference;
                            }
                        }
                    }
                }

                &#showcase {
                    overflow: hidden;
                    position: relative;
                    height: 100vh;
                    padding-top: var(--header-height);
                    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) height;

                    .item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: 0.25s opacity;
                        opacity: 0;
                        pointer-events: none;

                        display: flex;
                        align-items: center;

                        &.view {
                            pointer-events: auto;
                            opacity: 1;

                            > section {
                                &.contents {
                                    gap: 1.6rem;

                                    > section {
                                        width: 50%;

                                        &.container-pagination {
                                            display: flex;
                                            justify-content: space-between;

                                            > p {
                                                font-size: 2.4rem;
                                                font-weight: 700;
                                            }

                                            > div {
                                                display: flex;
                                                align-items: center;

                                                p {
                                                    color: var(--color-gray-500);

                                                    &:first-child {
                                                        font-size: 1.8rem;
                                                        font-weight: 700;
                                                        color: var(--color-gray-800);
                                                    }
                                                    &:last-child {}
                                                }
                                            }
                                        }

                                        &.container-progress {
                                            position: relative;
                                            height: 2px;
                                            border-bottom: 1px solid var(--color-gray-300);
                                            padding-bottom: 1.2rem;
                                            margin-bottom: 1.2rem;
    
                                            .progress {
                                                height: 2px;
                                                background: var(--color-brand-500);
                                                animation: extendWidth 5s;
                                                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
                                                animation-iteration-count: infinite;
                                            }
    
                                            &::after,
                                            &::before {
                                                content: '';
                                                width: 1px;
                                                height: 11px;
                                                background: var(--color-gray-300);
                                                position: absolute;
                                                bottom: calc(-1.2rem / 2);
                                            }
    
                                            &::after {
                                                left: 0;
                                            }
    
                                            &::before {
                                                right: 0;
                                            }
                                        }
    
                                        &.container-info {
                                            h5,
                                            p {
                                                overflow: hidden;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;
                                                display: -webkit-box;
                                            }

                                            h5 {
                                                font-size: 2.4rem;
                                                font-weight: 700;
                                                color: var(--color-gray-800);
                                                margin-bottom: 0.8rem;
                                            }

                                            p {
                                                color: var(--color-gray-500);
                                            }
                                        }
                                    }
                                }

                                &.thumbnail {
                                }
                            }
                        }

                        > section {
                            &.contents {
                                height: 100%;
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                backdrop-filter: blur(20px);
                                -webkit-backdrop-filter: blur(20px);
                                -webkit-mask-image: linear-gradient(to right,#000,#000 12.5%,#000 57.5%,#0000);
                                mask-image: linear-gradient(to right,#000,#000 12.5%,#000 57.5%,#0000);

                                > p {
                                    width: 100%;
                                }
                            }

                            &.thumbnail {
                                z-index: -1;

                                figure {
                                    position: absolute;

                                    > img {
                                        width: 700px;
                                        box-sizing: border-box;
                                        transform: translate(-50%,-50%);
                                        top: 50%;
                                        left: 50%;
                                        position: absolute;
                                        max-width: initial;
                                        object-fit: cover;
                                        border-radius: 5.2rem;
                                    }

                                    &:nth-child(2) {
                                        top: 60px;
                                        right: 148px;
                                        filter: blur(2px);
                                    }

                                    &:nth-child(3) {
                                        top: 262px;
                                        right: 700px;
                                        filter: blur(4px);
                                    }

                                    &:nth-child(4) {
                                        bottom: 136px;
                                        right: 80px;
                                    }
                                }
                            }
                        }
                    }

                    &.resize {
                        height: calc(50vh - 128px);
                    }

                    &::after {
                        content: '';
                        background: linear-gradient(0deg, white, transparent);
                        width: 100%;
                        height: var(--header-height);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 100;
                    }

                    &::before {
                        content: "";
                        background: linear-gradient(-90deg, white, transparent);
                        width: 12rem;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 100;
                    }
                }

                // 섹션 : category
                &#all {
                    > section {
                        &.title-container {}

                        &.contents {
                            grid-template-columns: repeat(3, 1fr);
                        }
                    }
                }

                &#tab {
                    flex-direction: row;
                    margin-top: 4.0rem;
                    gap: 2.0rem;

                    > button {
                        font-size: 3.2rem;
                        font-weight: 700;
                        color: var(--color-gray-400);

                        &.active {
                            color: var(--color-gray-800);
                        }
                    }
                }

                &.specific {
                    > section {
                        &.title-container {}

                        &.contents {
                            grid-template-columns: repeat(1, 1fr);
                            grid-row-gap: 4.0rem;

                            > .item {
                                flex-direction: row-reverse;
                                
                                > img {
                                    width: calc(100vw / 5 - 1.2rem);
                                }

                                > .desc {
                                    flex: 1;
                                    justify-content: center;
                                    width: calc(80vw - 1.2rem);

                                    > h5 {
                                        font-size: 2.4rem;
                                    }

                                    > p {
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        color: var(--color-gray-500);
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                    }
                }
                

                &.view {
                    display: auto;
                }

                &.none {
                    display: none;
                }

            }
        }
    }

    // 경로 : 로그인 페이지
    &#login {
        .container-inner {
            padding: 0 1.6rem;
            justify-content: center;
            
            form {
                width: 100%;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 3.2rem;
        
                    width: var(--mobile);
                    background: white;
                    padding: 3.0rem;
                    border-radius: 1.6rem;

                    margin: 0 auto;
        
                    > article {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1.6rem;
        
                        &.header {
                            > a {
                                img {
                                    margin: 0 auto;
                                    display: block;
                                }
                            }
                        }
                        
                        &.main {
                            display: flex;
                            flex-direction: column;
                        }
        
                        &.footer {
                            .account {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                gap: 1.6rem;
                                
                                > a {
                                    flex: 1;
                                }
        
                                > div {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.8rem;
        
                                    > hr {
                                        flex: 1;
                                        background: var(--color-gray-50);
                                        width: 11.0rem;
                                    }
        
                                    > p {
                                        color: var(--color-gray-500);
                                        font-size: 1.2rem;
                                    }
                                }
                            }
        
                            .help {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.8rem;

                                > a {
                                    font-size: 1.4rem;
                                }

                                > hr {
                                    flex: 0 0 1px;
                                    background: var(--color-gray-50);
                                    height: 1.6rem;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 경로 : 회원가입 페이지
    &#join {
        .container-inner {
            padding: 0 1.6rem;
            justify-content: center;
            
            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3.2rem;
    
                width: var(--mobile);
                background: white;
                padding: 3.0rem;
                border-radius: 1.6rem;

                margin: 0 auto;

                article {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
    
                    &.header {
                        > a {
                            img {
                                margin: 0 auto;
                                display: block;
                            }
                        }

                        > h2 {
                            text-align: center;
                            font-size: 3.2rem;
                        }

                        > p {
                            color: var(--color-gray-500);
                        }
                    }
                    
                    &.main {
                        display: flex;
                        flex-direction: column;

                        > section {
                            &.check {
                                display: flex;
                                align-items: center;
                                gap: 0.4rem;
                            }

                            &.privacy {

                            }
                        }
                    }
    
                    &.footer {
                        .account {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 0.4rem;
                            
                            > a {
                                flex: 1;
                            }
    
                            > div {
                                display: flex;
                                align-items: center;
                                gap: 0.8rem;
    
                                > hr {
                                    flex: 1;
                                    background: var(--color-gray-50);
                                    width: 11.0rem;
                                }
    
                                > p {
                                    color: var(--color-gray-500);
                                    font-size: 1.2rem;
                                }
                            }
                        }
    
                        .help {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.8rem;

                            > a {
                                font-size: 1.4rem;
                            }

                            > hr {
                                flex: 0 0 1px;
                                background: var(--color-gray-50);
                                height: 1.6rem;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // 경로 : category 페이지
    &#result,
    &#category {
        // 공통
        .container-inner {
            > #tab {
                display: flex;
                flex-direction: row;
                // margin-top: 4rem;
                gap: 2rem;
                width: 100%;
                
                > a {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: var(--color-gray-400);

                    &.active {
                        color: var(--color-gray-800);
                    }
                }

            }

            .info {
                display: flex;
                width: 100%;
                gap: 0.8rem;

                > h2 {
                    font-size: 2.4rem;
                }

                > p {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: var(--color-brand-500);
                }
            }

            > .contents {
                width: 100%;
                height: 100%;

                > article {
                    &#list {
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        gap: 8.0rem 4.0rem;
        
                        > .item {
                            position: relative;
    
                            > img {
                                width: 100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                aspect-ratio: 1/0.6;
                                border-radius: 0.8rem;
                            }

                            > .desc {
                                .date,
                                .category {
                                    color: var(--color-gray-500);
                                }
                                
                                .title {
                                    font-size: 2.4rem;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    color: var(--color-gray-800);
                                }
                            }
        
                            &.horizontal {
                                flex-direction: row;
                            }
        
                            &.vertical {
                                flex-direction: column;
                            }
        
                            &.empty {
                                background: var(--color-gray-100);
                                color: var(--color-gray-500);
                                padding: 1.6rem;
                                border-radius: 1.2rem;
                                text-align: center;
                                justify-content: center;
                            }
                        }
                    }
    
                    &#pagination {}
                }
            }
        }

        // 게시물 보기 페이지
        &.view {
            .container-inner {
                display: flex;
                gap: 3.2rem;
                padding: 0;
                max-width: none;

                > article {
                    width: 100%;

                    &.header {
                        position: relative;
                        height: calc(100vh - var(--header-height));
                        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) height;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // border-radius: 1.6rem;
                        }

                        > div {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: 100%;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-end;
                            padding-bottom: var(--header-height);
                            background: radial-gradient(transparent 30%, #00000075);

                            h2,
                            p {
                                color: white;
                                text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                            }

                            > h2 {
                                font-size: 5.6rem;
                                text-align: center;
                                max-width: var(--pc);
                            }

                            > div {
                                display: flex;
                                justify-content: center;
                                gap: 0.8rem;

                                > p {
                                    font-size: 1.4rem;
                                    filter: opacity(0.5);
                                }
                            }
                        }

                        &.resize {
                            height: calc(50vh - 128px);
                        }
                    }

                    &.main {
                        max-width: var(--tablet);

                        pre {
                            width: 100%;
                            overflow: auto;
                            margin: 1.6rem 0;
                            border-radius: 1.2rem;
                        }

                        > div {
                            figure {
                                img {
                                    border-radius: 1.6rem;
                                    margin: 1.6rem 0;
                                }
                            }
                        }
                    }

                    &.footer {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: var(--tablet);

                        > section {
                            &:first-child {
                                display: flex;
                                gap: 0.8rem;
                                
                                > a {
                                    display: block;
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 100%;
                                    text-decoration: none;
                                    background: var(--color-gray-50);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }

                            &:last-child {
                                display: flex;
                                gap: 3.2rem;
                                border-top: 1px solid var(--color-gray-200);
                                width: 100%;
                                padding: 1.6rem 0;
                                margin: 1.6rem 0;

                                > .item {
                                    display: flex;
                                    // flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 0.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.modify,
        &.write {
            .container-inner {
                display: flex;

                > article {
                    width: 100%;

                    > form {
                        > fieldset {
                            display: flex;
                            flex-direction: column;
                            gap: 2.4rem;

                            > section {
                                display: flex;
                                align-items: flex-start;
                                flex-direction: column;
                                gap: 1.2rem;

                                img {
                                    width: 12.8rem;
                                    height: 12.8rem;
                                    border-radius: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#profile {
        .container-inner {
            gap: 1.2rem;

            > article {
                width: 100%;

                &.alert {
                    background: var(--color-red-300);
                    border-radius: 1.6rem;
                    padding: 1.6rem;

                    > p {
                        color: var(--color-red-700);
                    }
                }

                &.info {
                    > h2 {
                        color: var(--color-gray-800);
                        font-size: 3.2rem;
                    }

                    > p {
                        color: var(--color-gray-500);
                    }
                }

                &.details {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    border: 1px solid var(--color-gray-200);
                    border-radius: 1.6rem;
                    padding: 1.6rem;

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;

                        > strong {
                            color: var(--color-gray-500);
                        }
                    }
                }
                &.state {}
                &.remove {}
            }
        }
    }
}