/* 스킵 메뉴 */
#skip {
    > a {
        background: var(--color-gray-900);
        color: #fff;
        position: absolute;
        padding: 1.6rem 2.4rem;
        left: -400px;
        top: 1.6rem;
        z-index: 10000000000;
        border-radius: 1.2rem;
        
        &:active,
        &:focus {
            left: 1.6rem;
        }
    }
}